report {
  overwrite = true
}

conda {
  enabled  = true
  cacheDir = "/data/scratch/DGE/DUDGE/MOPOPGEN/software-env/conda/"
}

singularity {
  enabled  = true
  autoMount = true
}

process {
  withLabel: 'bcl2fastq' { container = 'quay.io-nf-core-bcl2fastq-2.20.0.422' }
  withLabel: 'fastqc'    { container = 'fastqc-0.12.1--hdfd78af_0' }
  withLabel: 'multiqc'   { container = 'multiqc-1.25.1--pyhdfd78af_0' }
  withLabel: 'rocker'    { container = 'rocker/tidyverse:latest' }
  withLabel: 'seqkit'    { container = 'seqkit_2.9.0' }
}

// Default params
params {
  step        = 'demultiplex' 
  check       = true
  nseq        = 1000000
  chunk       = 100000
  min_read    = 12000
  paired      = false
  compression = 9
  mismatches  = 1
  stringency  = 0.9
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile
  test {
    params {
      cohorts = "input/cohorts.info.csv"
    }
  }

  test_extract {
    params {
      cohorts = "input/cohorts.info.csv"
      step    = 'extract'
      paired  = true
    }
  }
}
