report {
  overwrite = true
}

conda {
  enabled  = true
  cacheDir = "/data/scratch/DGE/DUDGE/MOPOPGEN/software-env/conda/"
}

singularity {
  enabled  = true
  autoMount = true
}

process {
  withLabel: 'bcl2fastq' { conda = '/data/rds/DGE/DUDGE/MOPOPGEN/mahmed03/pipelines/demultiplex-bcl-files/modules/bcl2fastq.yml' }
  withLabel: 'fastqc'    { conda = '/data/rds/DGE/DUDGE/MOPOPGEN/mahmed03/pipelines/demultiplex-bcl-files/modules/fastqc.yml' }
  withLabel: 'multiqc'   { conda = '/data/rds/DGE/DUDGE/MOPOPGEN/mahmed03/pipelines/demultiplex-bcl-files/modules/multiqc.yml' }
  withLabel: 'rocker'    { container = 'rocker/tidyverse:latest' }
  withLabel: 'seqkit'    { container = 'seqkit_2.9.0' }
}

// Default params
params {
  step        = 'demultiplex' 
  check       = true
  chunk       = 100000
  min_read    = 12000
  compression = 9
  mismatches  = 1
  stringency  = 0.9
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile
  test {
    params {
      cohorts = "input/cohorts.info.csv"
    }
  }

  test_extract {
    params {
      cohorts = "input/cohorts.info.csv"
      step    = 'extract'
    }
  }
}
